body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Alinear elementos en la parte superior */
    height: 100vh;
    margin-top: 20px;
    /* Ajustar el margen superior según tus necesidades */
}

.form-container {
    margin-right: 20px;
    /* Espaciado entre el formulario y la lista */
}

.btn-form {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button.log-btn {
    cursor: default;
}

.admin-list {
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    /* Agregado para la barra de desplazamiento vertical */
    max-height: 600px;
    /* Altura máxima para la lista antes de agregar la barra de desplazamiento */
    max-width: 1000px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

li {
    margin-bottom: 5px;
    background-color: #ecf0f1;
    padding: 5px;
    border-radius: 4px;
    width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-top: 20px;
}

.form-container {
  margin-right: 20px;
}

.form {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  margin-right: 10px;
}

.bar-inner {
  background-color: #3498db;
  height: 20px; /* Altura de la barra */
  transition: width 0.5s ease;
}

.count {
  margin-left: 10px;
}

.dashboard {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.logs-list {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 36px;
  height: 669px;
  overflow-y: auto;
  background-color: #ffffff;
}

.radio-container {
    display: flex;
    align-items: center;
    margin-right: 5px;
    }

.radio-container input {
    margin-right: 5px;
}

h1.titulo-reportes {
    background-color: #333;
    color: white;
    padding: 10px; /* Ajusta según sea necesario para el espaciado interno */
  }

button.log-btn:hover {
    cursor: default;
}