body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

form {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#validar-button {
  background-color: #4CAF50;
}

#volver-button {
  background-color: #FF5722;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vh - 200px);
  height: calc(100vh - 200px);
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  z-index: 1000; /* Valor alto para que aparezca sobre otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Añadir propiedades de ancho y alto para centrar el contenido */
  width: 100%;
  height: 100%;
}

/* Estilo para ocultar el modal */
.display-none {
  display: none;
}

/* Estilo para mostrar el modal */
.display-block {
  display: flex;
}

/* Estilos para el contenido del modal */
.modal-main {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 60vh;
  height: 21rem;
  text-align: center;
}

